<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginHandler</servlet-name>
        <servlet-class>main.LoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutHandler</servlet-name>
        <servlet-class>main.LogoutHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginHandler</servlet-name>
        <url-pattern>/LoginHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutHandler</servlet-name>
        <url-pattern>/LogoutHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestHandler</servlet-name>
        <servlet-class>main.RequestHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHandler</servlet-name>
        <servlet-class>main.UserHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestHandler</servlet-name>
        <url-pattern>/RequestHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHandler</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
